{% if page.header == NULL and page.header.image_fullwidth == NULL and page.header.pattern == NULL and page.header.background-color == NULL and page.header.title == NULL %}

<div id="masthead-no-image-header">
  <div class="row">
    <div class="small-12 columns">
      {% if page.show_logo %}
        <a id="logo" href="{{ '/' | absolute_url }}" title="{{ site.title }} – {{ site.slogan }}">
          <img src="{{ site.baseurl }}/assets/img/logo.png" alt="{{ site.title }} – {{ site.slogan }}">
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% if page.breadcrumb == true %}
  {% include _breadcrumb.html %}
{% endif %}

{% elsif page.header.title %}

<div id="masthead-with-text"
  {% if page.header.background-color and page.show_background %}
    style="background: {{ page.header.background-color }};"
  {% elsif page.header.pattern %}
    style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('{{ site.urlimg }}/{{ page.header.pattern }}')"
  {% endif %}
>
  <div class="row">
    <div class="small-12 columns">
      <div class="masthead-title">{{ page.header.title }}</div>
      {% if page.show_logo %}
        <a id="logo" href="{{ '/' | absolute_url }}" title="{{ site.title }} – {{ site.slogan }}">
          <img src="{{ site.baseurl }}/assets/img/logo.png" alt="{{ site.title }} – {{ site.slogan }}">
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% if page.breadcrumb == true %}
  {% include _breadcrumb.html %}
{% endif %}

{% if page.header.caption_url and page.header.caption %}
  <div class="masthead-caption">
    <a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
  </div>
{% elsif page.header.caption %}
  <div class="masthead-caption">
    {{ page.header.caption }}
  </div>
{% endif %}

{% elsif page.header.image_fullwidth %}

<div id="masthead">
  <div class="row">
    <div class="small-12 columns">
      {% if page.show_logo %}
        <a id="logo" href="{{ '/' | absolute_url }}" title="{{ site.title }} – {{ site.slogan }}">
          <img src="{{ site.baseurl }}/assets/img/logo.png" alt="{{ site.title }} – {{ site.slogan }}">
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% if page.breadcrumb == true %}
  {% include _breadcrumb.html %}
{% endif %}

{% if page.header.caption_url and page.header.caption %}
  <div class="masthead-caption">
    <a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
  </div>
{% elsif page.header.caption %}
  <div class="masthead-caption">
    {{ page.header.caption }}
  </div>
{% endif %}

{% elsif page.header.pattern %}

<div id="masthead-with-pattern" style="background: url('{{ site.urlimg }}/{{ page.header.pattern }}')">
  <div class="row">
    <figure class="small-12 columns">
      <img src="{{ site.urlimg }}/{{ page.header.image }}" alt="{{ site.title }}">
    </figure>
    {% if page.show_logo %}
      <a id="logo" href="{{ '/' | absolute_url }}" title="{{ site.title }} – {{ site.slogan }}">
        <img src="{{ site.baseurl }}/assets/img/logo.png" alt="{{ site.title }} – {{ site.slogan }}">
      </a>
    {% endif %}
  </div>
</div>

{% if page.breadcrumb == true %}
  {% include _breadcrumb.html %}
{% endif %}

{% if page.header.caption_url and page.header.caption %}
  <div class="masthead-caption">
    <a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
  </div>
{% elsif page.header.caption %}
  <div class="masthead-caption">
    {{ page.header.caption }}
  </div>
{% endif %}

{% elsif page.header.background-color and page.show_background %}

<div id="masthead-with-background-color" style="background: {{ page.header.background-color }};">
  <div class="row">
    <figure class="small-12 columns">
      <img src="{{ site.urlimg }}/{{ page.header.image }}" alt="{{ site.title }}">
    </figure>
    {% if page.show_logo %}
      <a id="logo" href="{{ '/' | absolute_url }}" title="{{ site.title }} – {{ site.slogan }}">
        <img src="{{ site.baseurl }}/assets/img/logo.png" alt="{{ site.title }} – {{ site.slogan }}">
      </a>
    {% endif %}
  </div>
</div>

{% if page.breadcrumb == true %}
  {% include _breadcrumb.html %}
{% endif %}

{% if page.header.caption_url and page.header.caption %}
  <div class="masthead-caption">
    <a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
  </div>
{% elsif page.header.caption %}
  <div class="masthead-caption">
    {{ page.header.caption }}
  </div>
{% endif %}

{% elsif page.header == false %}

{% if page.breadcrumb == true %}
  {% include _breadcrumb.html %}
{% endif %}

{% endif %}
