<div id="masthead-no-image-header">
  <div class="row">
    <div class="small-12 columns" style="text-align: center;">
      {% if page.show_logo %}
      <a id="logo" href="{{ site.url }}" title="{{ site.title }} – {{ site.slogan }}">
        <img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.logo }}" alt="{{ site.title }} – {{ site.slogan }}" width="700" style="position: relative; top: -10px;">
      </a>
      {% endif %}
    </div>
  </div>
</div>

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

<div id="masthead">
  {% if page.show_logo %}
    <a id="logo" href="{{ site.url }}" title="{{ site.title }} – {{ site.slogan }}"
       style="position: absolute; left: 50%; top: 15px; transform: translateX(-50%); z-index: 2;">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.logo }}"
           alt="{{ site.title }} – {{ site.slogan }}"
           width="120">
    </a>
  {% endif %}
  <div class="row">
    <div class="small-12 columns">
      <!-- Other header content here if needed -->
    </div>
  </div>
</div>

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% if page.header.caption_url and page.header.caption %}
<div class="masthead-caption">
  <a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
</div>
{% elsif page.header.caption %}
<div class="masthead-caption">
  {{ page.header.caption }}
</div>
{% endif %}


{% if page.header.caption_url and page.header.caption %}
<div class="masthead-caption">
  <a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
</div>
{% elsif page.header.caption %}
<div class="masthead-caption">
  {{ page.header.caption }}
</div>
{% endif %}

{% elsif page.header.background-color %}

<div id="masthead-with-background-color">
  <div class="row">
    <figure class="small-12 columns" style="text-align: center;">
      <img src="{{ site.urlimg }}/{{ page.header.image }}" alt="{{ site.title }}">
    </figure>
  </div>
</div>

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% if page.header.caption_url and page.header.caption %}
<div class="masthead-caption">
  <a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
</div>
{% elsif page.header.caption %}
<div class="masthead-caption">
  {{ page.header.caption }}
</div>
{% endif %}

{% elsif page.header == false %}

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% endif %}
